package views

import (
	"github.com/kamil-koziol/pingo/internal/web/components"
	"github.com/kamil-koziol/pingo/internal/web/components/ui/input"
	"github.com/kamil-koziol/pingo/internal/web/static"
)

templ Layout(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title } | Pingo</title>
			<script>
                const darkMode = window.matchMedia("(prefers-color-scheme: dark)");

                function updateTheme() {
                    document.documentElement.classList.toggle("dark", darkMode.matches);
                }

                updateTheme();
                darkMode.addEventListener("change", updateTheme);
            </script>
			<link rel="stylesheet" href={ static.URL("css/output.css") }/>
			<script src={ static.URL("js/htmx-4.0.0.min.js") }></script>
			<link rel="preload" href="/static/fonts/inter-latin-wght-normal.woff2" as="font" type="font/woff2" crossorigin/>
			@input.Script()
		</head>
		<body class="flex min-h-dvh flex-col">
			@components.Navbar()
			<main class="mx-auto w-full max-w-6xl flex-1 px-4 py-8 sm:px-6">
				{ children... }
			</main>
			@components.Footer()
		</body>
	</html>
}
